html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

#aiSuggestions {
    line-height: 1.6;
}
#aiSuggestions h1, #aiSuggestions h2, #aiSuggestions h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
#aiSuggestions ul, #aiSuggestions ol {
    margin-left: 20px;
}
#aiSuggestions code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
}
.rounded.overflow-hidden {
    border-radius: 0.5rem !important;
}
.table-responsive {
    border-radius: 0.5rem;
    overflow: hidden;
}

.home-sidebar-box{
    background-color: var(--main-white);
    border: solid 1px var(--main-bg-dark);
    border-radius: 10px;
}

.feature-title{
    font-weight: bold;
    color: var(--main-bg-dark);
}

.feature-subtitle{
    color: var(--primary-700);
}

.form-select{
    background-color: var(--main-white);
    color: var(--main-bg-dark);
    border: solid 1px var(--main-bg-dark);
    border-radius: 5px;
}

.form-control{
    background-color: var(--main-white);
    color: var(--main-bg-dark);
    border: solid 1px var(--main-bg-dark);
    border-radius: 5px;
}

.feature-btn{
    background-color: var(--main-primary);
    border: solid 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.feature-btn:hover{
    background-color: var(--primary-400);
}