html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
#v-pills-tab .nav-link.active, #v-pills-tab .nav-pills .show>.nav-link {
    color: var(--main-bg-light) !important;
    background-color: var(--main-primary) !important;
}
#v-pills-tab .nav-link:focus, #v-pills-tab .nav-link:hover {
    color: var(--main-bg-light);
    background-color: var(--primary-300) !important;
}
#v-pills-tab .nav-link{
    color: var(--main-bg-dark);
}