/* Add your custom styles here */
button {
    background-color: rgba(49, 49, 49, 0.3);
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
body{
    background-color: rgba(49, 49, 49, 0.3) !important;
}