:root {
    --primary-color: #8c0001;
    --secondary-color: #b38b11;
    --accent-color: #dde0e4;
    --off-white: #f5f5f5;
    --off-black: #333333;

    /* Primary Colors */
    --primary-50 : #e6e9fd;
    --primary-100: #b2baf7;
    --primary-200: #8d99f4;
    --primary-300: #596aee;
    --primary-400: #394deb;
    --primary-500: #0721e6;
    --primary-600: #061ed1;
    --primary-700: #0517a3;
    --primary-800: #04127f;
    --primary-900: #030e61;

    /* Secondary Colors */
    --secondary-50 : #fdf5e6;
    --secondary-100: #f7dfb2;
    --secondary-200: #f4d08d;
    --secondary-300: #eeba59;
    --secondary-400: #ebad39;
    --secondary-500: #e69807;
    --secondary-600: #d18a06;
    --secondary-700: #a36c05;
    --secondary-800: #7f5404;
    --secondary-900: #614003;

    /* Neutral Colors */
    --neutral-50 : #f6f6f6;
    --neutral-100: #e4e4e4;
    --neutral-200: #d7d7d7;
    --neutral-300: #c5c5c5;
    --neutral-400: #b9b9b9;
    --neutral-500: #a8a8a8;
    --neutral-600: #999999;
    --neutral-700: #777777;
    --neutral-800: #5c5c5c;
    --neutral-900: #474747;

    /* Main Colors */
    --main-primary : #0721e6; /* Primary */
    --main-accent  : #e69807; /* Accent */
    --main-neutral : #e9ebf8; /* Neutral */
    --main-black   : #121212; /* Black */
    --main-white   : #fffcf8; /* White */
    --main-bg-dark : #050819; /* BG-dark */
    --main-bg-light: #e8e8e8; /* BG-light */
  }

html {
    height: 100%;
    overflow-x: hidden;
    height: 100vh !important;
    width: 100vw;
    min-height: 100vh !important;
    min-width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh !important;
    min-height: 100vh !important;
    min-width: 100vw;
}

main {
    flex: 1 0 auto;
}

a{
    color: var(--primary-color);
}
a:hover{
    color: var(--secondary-color);
}
a.visited{
    color: var(--accent-color);
}
.box-shadow {
    box-shadow: 0 .25rem .75rem var(--accent-color);
}

.form-auth {
    width: 100%;
    padding: 15px;
}

.form-auth .checkbox {
    font-weight: 400;
}

.form-auth .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 1.2rem;
    font-size: 16px;
    border-radius: 1rem;
    border: solid 0.2rem var(--main-neutral);
}

.form-auth .form-control:focus {
    z-index: 2;
    border-color: var(--primary-300);
}

.bg-color{
    background-color: var(--secondary-color);
}
.bg-main{
    background-color: var(--primary-color);
}
/* --------------User Image Upload---------------------- */

.avatar-upload {
    text-align: center;
    display: inline-block;
}

.avatar-edit {
    top: 150px;
    margin-right: -125px;
    margin-top: -40px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    position: relative;
    background: var(--primary-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 2px 4px 0px var(--accent-color);
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    z-index: 1000000;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.avatar-upload .avatar-edit input+label:after {
    color: var(--accent-color);
    position: absolute;
    top: 5px;
    left: 1px;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 162px;
    height: 162px;
    position: relative;
    border-radius: 100%;
    box-shadow: 0px 2px 4px 0px var(--accent-color);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}


/* --------------Profile card---------------------- */

.card-profile {
    position: sticky;
    top: 100px;
    width: 230px;
    min-height: 330px;
    margin: 50px auto;
    /* background-color: #e6e5e1; */
    border: 1px solid var(--accent-color);
    border-radius: 0;
    border: 0;
}

.card-profile .card-img-top {
    border-radius: 0;
}

.card-img-profile {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    margin-top: -45px;
    margin-bottom: 35px;
}

.edit-profile {
    position: absolute;
    right: 10px;
    top: 110px;
}

.card-img-profile {
    transition: transform .2s;
}

.card-img-profile:hover {
    transform: scale(1.02);
}

.card-profile .card-title {
    margin-bottom: 30px;
}

.card-profile .card-title small {
    display: block;
    font-size: .6em;
    margin-top: .2em;
    padding-left: 20px;
    padding-right: 20px;
}

.card-profile .fa {
    color: var(--accent-color);
}

.card-profile .fa:hover {
    color: var(--secondary-color);
}


/* --------------Footer---------------------- */

footer {
    margin-top: 100px;
}

#myFooter {
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: var(--off-white);
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: var(--secondary-color);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: var(--off-white);
}

#myFooter .footer-copyright a {
    color: var(--off-black);
}

#myFooter .footer-copyright a:hover {
    color: var(--primary-color);
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: var(--accent-color);
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: var(--accent-color);
}

#myFooter a {
    color: var(--accent-color);
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: var(--secondary-color);
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: var(--accent-color);
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

#myFooter .btn {
    color: var(--off-black);
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

#myFooter .btn:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.fas {
    color: var(--primary-color);
}

.fas:hover {
    color: var(--secondary-color);
}


/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;  /* Increased radius for more roundness */
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
    border-radius: 20px;  /* Increased radius for more roundness */
}

::-webkit-scrollbar-track {
    background-color: var(--off-black);
}

