textarea {
    min-height: 150px;
}
.edit {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the element takes full height of its parent */
    text-align: center; /* For multi-line text */
}
.edit:hover{
    color: var(--primary-color);
}
